@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 640px) {
  html::-webkit-scrollbar {
    width: 0px !important;
  }
}

html::-webkit-scrollbar {
  width: 5px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: transparent;
}


html::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}


.scrollbar-hidden::-webkit-scrollbar {
  width: 0px;
  display: none;
}